.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/page-header-bg.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: hsla(0,0%,100%,.7);
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  display: table;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  line-height: 1.25;
  margin: 2rem 0;
}

h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}